.canvas-wrapper {
  border: 1px solid gray;
  position: relative;

  width: fit-content;
  height: fit-content;
}

.canvas-wrapper > canvas {
  display: block;
}

.canvas-wrapper.grid::before,
.canvas-wrapper.grid::after {
  content: '';
  position: absolute;
  background: gray;
}

.canvas-wrapper.grid::before {
  top: 50%;

  width: 100%;
  height: 1px;
}

.canvas-wrapper.grid::after {
  left: 50%;

  width: 1px;
  height: 100%;
}
